body {
    width: 20rem;
    background-color: #4F5165;
    color: #E8E9EB;
}

h1 {
    font-size: 2rem;
}

hr {
    margin: 1rem 0;
    border: 1px solid #9C9DA8;

}


.interval {
    width: 4rem;
    font-size: 2rem;
    background-color: #4F5165;
    border: none;
    color: #E8E9EB;
}

.buttons {
        margin-top: 1rem;
}

button {
            outline: none;
            background-color: #08A4BD;
            border: none;
            color: #E8E9EB;
            padding: 4px 8px;
            border-radius: 4px;
            margin-right: 8px;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.timer {
	width: 160px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

svg {
	transform: rotate(-90deg);
}

.circle_animation {
	stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
	stroke-dashoffset: 0;
	transition: all 1s linear;
}
